<!doctype.html>
<html>
   <head>
   <title>Form</title>
   <meta  name = "author" content = "Brighsical Abenahemaa Baidoo"/>
   <link rel = "stylesheet" href = "./static/css/main.css"/>
      </head>
   <body>
      
      <div class="todo">
      <form action= "/add_todo">
         
         <label for ="todo"><h1>To Do List</h1></label>
         
         <input class ="input.box" type ="text" name="item">
         
         <button class = "button" style = "margin:0px;">Submit</button>
      </form>
      
      <ol>
         {%for item in items%}
         <li>{{item}}</li>
         {%endfor%}
         
      </ol>
   
      </div>  
   </body>
</html>
   
